{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Main Tag content section}}
<main id="main-asnd">

	<section id="tag-author-page-section-asnd">

		{{#author}}
		<div class="author-left-side">
			{{#if image}}
			<img class="author-pic" src="{{image}}" alt="{{name}}">
			{{/if}}

			<h2 class="author-name">{{name}}</h2>

			{{#if website}}
			<a class="author-website" href="{{website}}">{{website}}</a>
			{{/if}}
			
			<br>
			<span class="author-count">	
			<i class="fa fa-folder-open-o"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
			</span>
		</div><div class="author-right-side">
			{{#if bio}}
			<p class="author-bio">{{bio}}</p>
			{{/if}}

			<a href="{{url}}rss/" class="subscribe-to-it">
				<span class="fa fa-rss"></span> Subscribe to {{name}}
			</a>
		</div>
		{{/author}}

	</section>

	{{! Pagination top links - displayed on paged temmplates}}
	<div id="top-paged-nav-asnd">
	{{pagination}}
	</div>

	{{> loop}}
	
	{{! Pagination links - displayed on every page}}
	{{pagination}}
</main>